<div class="container alert alert-success mt-3 d-flex justify-content-between align-items-center">
  <h4>Bienvenido <b>{{nombre}}</b></h4>
  <button type="button" class="btn btn-warning">Salir</button>
</div>

<div class="container mt-3">
  <h2>Productos al azar</h2>
  <hr/>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Foto</th>
      </tr>
    </thead>
    <tbody id="bodyTable">
      {{#each productos}}
        <tr>
          <th scope="row">{{id}}</th>
          <td>{{nombre}}</td>
          <td>{{precio}}</td>
          <td>
            <img src="{{foto}}" alt="{{nombre}}" width="50"/>  
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>